@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
   font-family: "Jost", sans-serif;
}
body {
  background-color: #f9fafb;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  prefersdark: 'light';
  default: true;

  --color-primary: #f4a261;     /* warm orange */
  --color-secondary: #e9ecef;   /* soft grey */
  --color-accent: #2a9d8f;      /* teal accent */
  --color-neutral: #264653;     /* dark slate */
  --color-text-primary: #1a1a1a;
}





.geometric-bg {
  background-image: linear-gradient(135deg, #f4a261 0%, #152012 100%);
  position: relative;
  overflow: hidden;
}

.geometric-shape {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}


.geometric-pattern {
  background-color: #f4a261;
  background-image:
    radial-gradient(#ffffff33 2px, transparent 2px),
    radial-gradient(#ffffff33 2px, transparent 2px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

