@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
   font-family: "Jost", sans-serif;
}
body {
  background-color: #f9fafb;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  prefersdark: 'light';
  default: true;

  --color-primary: #f4a261;     /* warm orange */
  --color-secondary: #e9ecef;   /* soft grey */
  --color-accent: #2a9d8f;      /* teal accent */
  --color-neutral: #264653;     /* dark slate */
  --color-text-primary: #1a1a1a;
}

